PORT=4000
NODE_ENV=development
ORIGIN=http://localhost:3000

# Use this when running the API inside Docker Compose (Docker network)
DATABASE_URL=postgres://postgres:postgres@postgres:5432/joojoo

# Use this when running the API outside Docker (localhost)
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/joojoo